*~
#*
*cryo_fit.input_command
*cryo_fit.overall_log
*.DS_Store
*/.DS_Store
fftw*
*pyc
regression/*/cc_record_full
regression/*/output
regression/*/restart_record_for_longer_steps.txt
regression/*/state.cpt
regression/*/steps
restart_record.txt
*.sit
steps/.DS_Store
steps/1_make_gro/*pdb
*swo
